.chead{
    background-color: #B7DCFE;
    color: #4989C8;
}


/* .logo{
    float: left;
} */

.kartu-bodi{
    background-color: #B7DCFE;
    color: #4989C8;
    text-align: center;
    font-weight: 400;
}